.recipe-card {
    position: relative;
  }
  .recipe-card:hover .recipe-desc {
    height: 95px;
  }
  .recipe-card:hover .recipe-desc .recipe-social-links {
    opacity: 1;
  }
  
  .recipe-desc {
    position: absolute;
    background: rgba(0, 0, 0, 0.53);
    width: auto;
    left: 15px;
    bottom: 15px;
    right: 15px;
    text-align: center;
    padding: 15px;
    height: 80px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .recipe-desc p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: white;
    font-weight: bold;
  }
  
  .recipe-social-links {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }